body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:white;
    background-image: url(perfume.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

header {
    background-color: #007bff;
    color: black;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    margin-top: 10px;
}

nav a {
    color: black;
    margin: 0 15px;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

.product {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 5px;
}

.product img {
    width: 100px;
    height: 100px;
}

.login-container, .register-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 10px;
    display: none;
}
